body {
  overflow: auto;
}

button {
  letter-spacing: normal !important;
}

.form-border {
  padding: 45px;
}

/* Add padding to containers */
.login-container {
  margin: 50px auto;
  width: 50%;
  padding: 20px;
  background-color: white;
}

/* Full-width input fields */
.login-input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.login-input:focus {
  background-color: #ddd;
  outline: none;
}

.login-label {
  font-size: 16px;
}

/* Set a style for the submit button */
.register-button {
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.register-button:hover {
  opacity: 1;
}

.link-button {
  display: inline-block !important;
  padding: 8px 16px !important;
  font-size: 12px !important;
  font-weight: normal !important;
  letter-spacing: normal !important;
  line-height: 19.2px !important;
  align-items: flex-start;
  text-transform: none;
  border-radius: 0.4rem;
  height: 2.8rem;
  -webkit-appearance: button;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 20px;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.left-sidenav{
  width: 17%;
  left: 10px;
}

.right-sidenav {
  width: 25%;
  right: 10px;
}

.bottom-sidenav {
  position: fixed;
  z-index: 1;
  width: 17%;
  bottom: 10px;
}

.bottom-sidenav a {
  padding: 6px 8px 6px 16px;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.main-nav {
  margin-top: 20px;
  margin-left: 17%;
  margin-right: 25%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.custom-button {
  color: #ffffff !important;
  background-color: #264653 !important;
}

.labelOption {
  font-size: 12px;
}

.blogTheme {
  background-color: #01796f;
}

.w3-center-align {
  text-align: center !important;
}

.loadImg {
  display: none;
}